/*css por etiqueta se escribe el nombre de etiqueta
selector por etiquetas*/
/*
SELECTORES CSS
 tema muy importante estudiar si es necesario
 hay selectores de hermanos cercano
 selectores de hermano
 selectores de hijo
 selectores de decendiente

 medidad em
 em significa element
 son medidas relativa al padres
 ejemplo si el padre tiene font size de 10 px al colocarle al hijo un 1.50 em 
 tendira 15px toma como referencia la medida del padre y esa medida seria 1 em
*/
/*
AQUI SE DECLARAN VARIABLES 
se definen con --<nombre>   
*/
:root{
    --primary-color:blue;
    --font-size : 10px
}
/*asi se usan las variables*/
p{
 font-size: var(--font-size);
}
/*por clases*/
.selectorporclase{
    color: red;
}
/* por id*/

#selectorPorId{
    color: blue;
}
/*Pseudo clases y pseudo elementos*/
/*agrega estilo a la etiqueta dentro del elemento con clase 
nombre-de-la-clase*/
.nombre-de-la-clase p {
    padding: 10px;
}
/*Pseudoclase
:hover
:active => cuando se da click al elemento
*/
/*Pseudoelemento
::after
*/
.nombre-de-la-clase p:hover {
    color:blue
}
/* selector univeral*/
* {
    box-sizing: border-box;/*sumar el padding y width del elemento como 1 solo  con la opcion width */
    padding: 0px;
}
.textsmall{
    font-size: xx-small;
}
.texto20 {
    font-size: large;
}
/*aplica este clase a los elementos dentro del elemento con id idprueba**/
#idprueba .clase{}

.block-element{
    background-color: green;
    margin:  10px;
    padding: 20px;
    /*display: block; usa el 100% del width */
    /*display: inline; solo utiliza su espacio requerido*/
}

.nav {
    background-color: peachpuff;
    padding: 20px;
    list-style-type:none;
    text-align: center;
}
.nav li{
    display: inline-block;
    font-size: 20px;
    margin: 10px 0;
    padding-left: 20px;
    padding-right: 20px;
}

.container{
    border: 0.3rem solid black;
    height: 50vh;
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;/*se aplica para poder usar justify y align*/
    justify-content:center ; /*alinear contenido de forma horizontal */
    align-items: center;/*alinear en vertical*/
}
.container2{
    display: flex;
    flex-wrap: wrap;
}
.box {
    width: 10rem;
    height: 10rem;
    flex-basis: 1rem;
    flex-grow: 1;
}
.box-1{
    background-color:black ;
    order: 2;
    flex-grow: 1;/*flex-grow es como el felx de react native */
}
.box-2{
   background-color:yellow ; 
   order: 1;/*cambiar el orden de los contenedor segun su hermanos*/
   flex-grow: 1;
}
.box-3{
   background-color: blue; 
}
.box-4{
    background-color: gray;
}
.box-5{
   background-color: green; 
}
.box-6{
   background-color: pink; 
}
.c1, .c2, .c3 , .c4, .c5 {
   
    min-width: 150px;
    height: 150px;
}
.c1{ background-color: blue;}
.c2{background-color: blueviolet;}
.c3{background-color: brown;}
.c4{background-color: cadetblue;}
.c5{background-color: chocolate;}

/*@media (min-width: 600px) {
    .c1{width: 50%;}
}
@media (min-width:800px){}*/